/* First app COUNTER */
.counter {
    margin-bottom: 50px;
}

/* Second app TODO */

.todo {
    margin-bottom: 50px;
}

.todo-name {
    margin-bottom: 10px;
}

.item-text {
    color: rgba(123, 0, 0, .5);
    text-decoration: none;
    display: inline-block;
}

.strike {
    color: #000;
    text-decoration: line-through;
}

/* Third app TIMER */

.countdown {
    margin-bottom: 50px;
}

.countdown-name {
    margin-bottom: 10px;
}

.inp {
    display: inline-block;
    width: 15px;
    text-align: center;
    border: none;
}

/* Fourth app WEATHER */

.weather {
    margin-bottom: 50px;
}

.weather-name {
    margin-bottom: 10px;
}

.weather__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.list {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
}

.list__item {
    margin-right: 10px;
}

.list__iitem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 120px;
}

.list__item img {
    max-width: 150px;
}
